.architectural-planning-container {
  margin: 100px 0 0 0;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #000, #7c7c7c), url("./arch_design.jpg");
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.back-link {
  padding: 1px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-link {
  background-color: #ddd;
  color: #333;
}

.back-link:hover {
  background-color: #ccc;
}
