.architectural-planning-container {
  padding: 100px;
  background: url("./arch_design.jpg") center/cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  font-size: large;
}

.section-architectural {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  color: #333;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;

  text-shadow: 4px #000;
}

.section-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.details-section {
  margin-top: 30px;
}

.details-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #666; /* Change the color as per your design */
}

.details-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666; /* Change the color as per your design */
}

.navigation-links {
  margin-top: 20px;
}

.section-description {
  font-size: 1.2rem;
  color: #666;
}

.expertise-section {
  margin: 30px 0;
}

.expertise-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}

.expertise-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}

.design-process-section {
  margin: 30px 0;
}

.design-process-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}

.design-process-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}

.why-choose-section {
  margin: 30px 0;
}

.why-choose-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}

.why-choose-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  text-shadow: 0 0 10px rgb(0, 0, 1);
}
