.architecture-design-container {
  padding: 110px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  font-size: large;
}

.architecture-design {
  padding: 50px;
  background: url("./architectural-design.jpg") center/cover;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 100px rgb(0, 0, 1);
}

.section-heading {
  font-size: 2.5rem;
}

.section-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.back-link {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-link {
  background-color: #ddd;
  color: #333;
}

.back-link:hover {
  background-color: #ccc;
}
