.services-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  color: #000;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.services-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.services-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 80px;
}

.service-card {
  flex: 0 1 calc(33.3333% - 20px);
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.service-card:hover {
  border-color: #555;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.service-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.service-link {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background-color: #333;
  padding: 15px 30px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.service-link:hover {
  background-color: #555;
}
